<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/head :: head"></head>

<body>
<div th:replace="partials/header :: section"></div>

<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-4 is-offset-4">
                    <h1 class="title">
                        Einloggen
                    </h1>
                    <div class="box">
                        <article class="message is-warning" th:if="${error}">
                            <div class="message-header">
                                <p>Warning</p>
                            </div>
                            <div class="message-body" th:text="${error}"></div>
                        </article>
                        <form th:action="@{/login}" method="post">
                            <div class="field">
                                <label class="label">Benutzername</label>
                                <p class="control has-icons-right">
                                    <input class="input"
                                           type="text"
                                           name="username"
                                           placeholder="z.b. alex"
                                    ></input>
                                </p>
                            </div>


                            <div class="field">
                                <label class="label">Passwort</label>
                                <p class="control has-icons-right">
                                    <input class="input"
                                           type="password"
                                           name="password"
                                           placeholder="●●●●●●●"
                                    ></input>
                                </p>
                            </div>
                            <hr></hr>
                            <p class="control">
                                <input type="submit" class="button is-primary" value="Einloggen"></input>
                                <a th:href="@{/}" class="button is-default">Abbrechen</a>
                            </p>
                        </form>
                    </div>
                    <p class="has-text-centered">
                        Noch kein Account?<br></br>
                        <a class="button" href="/registration"> zur Registrierung </a>
                    </p><br></br>
                    <p class="has-text-centered">
                        Passwort vergessen?<br></br>
                        <a class="button" href="/password">Infos</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>